# Environnement virtuel Python
venv/
.venv/
env/

# Cache Python
__pycache__/
*.pyc

# Fichiers temporaires
*.log
*.tmp

# VS Code
.vscode/

# Fichiers système Windows
Thumbs.db
Desktop.ini

# Uploads temporaires
uploads/

# Conversions générées
conversions/

# Variables d'environnement
.env